<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Two way data binding</title>
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="vue.js"></script>
    <style>
        #canvas {
            background-color: darkgreen;
            width: 400px;
            padding: 200px 20px;
            text-align: center;
            border: 1px solid #333;
        }
    </style>
</head>
<body>
    <div id="vue-app" style="background-color: goldenrod; width: 50%; padding: 10px;">
        <h1>Two way data binding</h1>
        <p>
            <label>Name : </label>
            <input type="text" v-model="name" v-on:keyup.enter="logName" />
            <span>{{name}}</span>
        </p>
        <p>
            <label>Age : </label>
            <input type="text" v-model="age" v-on:keyup.enter="logAge" />
            <span>{{age}}</span>
        </p>    
    </div>
</body>
</html>
<script>
new Vue({
    el: '#vue-app',
    data: {
        name: '',
        age: '',
    },
    methods: {
        logName: function() {
            console.log('name=', this.name);
        },
        logAge: function() {
            console.log('age=', this.age);
        },        
    }
});
</script>